app-example-viewer {
  ::ng-deep mat-card-content {
    display: flex;
    flex-flow: column;
    row-gap: 16px;
  }
}

.slide-toggles {
  width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: var(--sdg-spacer-24);
}

button {
  width: fit-content;
}
