<sdg-header
  [title]="config.title"
  [languages]="config.header.languages"
  [currentLanguage]="currentLanguage()"
  [contactUsRoute]="contactUsRoute"
  containerClass="container"
  (languageChange)="handleLanguageChange($event)"
/>

<sdg-navigation
  [links]="links"
  containerClass="container"
  [exactPathMatch]="`/${currentLanguage()}`"
>
  <router-outlet></router-outlet>
</sdg-navigation>

<footer>
  <sdg-footer
    [title]="config.title"
    [siteMapLinks]="siteMapLinks"
    [copyright]="copyright"
    containerClass="container"
  />
</footer>

<sdg-top-page-button tooltip="Retour en haut" />
