@if (config.header) {
  <sdg-header
    [title]="config.title"
    [logo]="config.header.logo"
    [options]="config.header.options"
    [contactUs]="config.header.contactUs!.label | translate"
    [contactUsRoute]="config.header.contactUs?.redirectionRoute"
  >
    <sdg-headar-language
      [options]="config.header.options!.language!"
      [language]="language()"
      (languageChange)="handleLanguageChange($event)"
    ></sdg-headar-language>
  </sdg-header>
}

<sdg-navigation
  class="d-flex flex-column flex-fill"
  [links]="routes"
  [isHandset]="isHandset()"
  [options]="config.navigation?.options"
>
  <router-outlet></router-outlet>
</sdg-navigation>
