$spacer-16: var(--sdg-spacer-16);

:host {
  display: block;

  ::ng-deep .mat-expansion-panel .mat-expansion-panel-body {
    padding: 0;
  }
}

.sdg-search-results {
  display: flex;
  flex-flow: column;
  row-gap: var(--sdg-grid-spacing-sm);
  padding: 1px 0;

  mat-expansion-panel {
    margin: 0 !important;
  }

  &-empty {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 0 $spacer-16;

    &.--not-single-source {
      padding: var(--sdg-spacer-8) $spacer-16;
    }

    mat-icon {
      color: var(--sdg-color-blue-dark);
    }
  }

  &-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer-16 0;

    &.--single-source {
      padding: $spacer-16 0 0 0;
    }
  }
}
