@use '@angular/material' as mat;
@use '@igo2/sdg-core' as sdg;

:host {
  display: block;

  ::ng-deep .mat-expansion-panel .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-expansion-panel {
    @include mat.expansion-overrides(
      (
        header-collapsed-state-height: 40px,
        header-expanded-state-height: 40px
      )
    );
  }
}

.sdg-search-results {
  display: flex;
  flex-direction: column;

  &-group-title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(
      --mat-toolbar-container-text-color,
      var(--mat-sys-on-background)
    );
  }

  &-group-count {
    margin-left: 4px;
    font-weight: 400;
    opacity: 0.7;
  }

  &-empty {
    display: flex;
    align-items: center;
    column-gap: var(--sdg-spacer-xs);
    padding: 0 var(--sdg-spacer-sm);

    mat-icon {
      color: var(--sdg-color-blue-dark);
    }
  }

  &-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px var(--sdg-spacer-sm);
  }
}

mat-list {
  padding-top: 0px;
  padding-bottom: var(--sdg-spacer-xs);
}
