@use '@angular/material' as mat;
@use '@igo2/sdg-core' as sdg;

$controls-padding: 12px;

.full-map {
  &-container {
    position: relative;
    height: 100%;

    ::ng-deep sdg-search-bar mat-form-field button[mat-icon-button] {
      background-color: transparent !important;
    }

    ::ng-deep sdg-search-bar mat-form-field mat-icon {
      color: var(--sdg-color-blue-piv) !important;
    }
  }

  &-browser {
    position: absolute;
    width: 100%;
    height: 100%;

    &-top-navigation {
      position: absolute;
      top: $controls-padding;
      right: $controls-padding;
    }
  }
}
