<p>
  <span>Le concept de bouton est basé sur le&nbsp;</span>
  <span><app-external-link
    title="bouton d'Angular Material"
    link="https://material.angular.io/components/button/overview"
  /></span>
  <span>. Voici quelques uns des types de boutons.</span>
</p>

<app-example-viewer
  title="Variantes"
  configFolder="button"
  codeFolder="button"
  class="button-types"
>
  <button mat-raised-button color="primary">Raised</button>
  <button mat-stroked-button color="primary">Stroked</button>
  <button mat-button color="primary">Basic</button>
  <button mat-flat-button color="primary">Flat</button>
</app-example-viewer>

<p>
  Material offre la possibilité de controler la couleur via la propriété "color"
  tout en respectant le thème de l'application.
</p>
<app-example-viewer title="Couleurs" class="button-types">
  <button mat-flat-button color="primary">Primaire</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Avertissement</button>
</app-example-viewer>

<p>Pour répliquer l'example de Quebec.ca:</p>
<app-example-viewer title="Types de boutons (Quebec.ca)" class="button-types">
  <button mat-raised-button color="primary">Principal</button>
  <button mat-stroked-button color="primary">Secondaire</button>
  <button mat-button color="primary">Tertiaire</button>
  <button mat-flat-button color="warn">Avertissement</button>
</app-example-viewer>
