<p>
  <span
    >Les <b>boutons</b> indiquent les actions qui peuvent être exécutées sur une
    page. Le libellé d'un bouton annonce l'action qui se produit lorsque
    l'utilisateur interagit avec celui-ci. Pour plus d'information, voir le
  </span>
  <span
    ><sdg-external-link
      text="Bouton"
      url="https://design.quebec.ca/design/composants/boutons"
  /></span>
  <span>du Système de design gouvernemental.</span>
</p>

<app-example-viewer
  title="Variantes"
  configFolder="button"
  codeFolder="button"
  class="button-types"
>
  <sdg-button-raised color="primary" (click)="handleClick()"
    >Raised</sdg-button-raised
  >
  <sdg-button-stroked color="primary" (click)="handleClick()"
    >Stroked</sdg-button-stroked
  >
  <sdg-button color="primary" (click)="handleClick()">Basic</sdg-button>
  <sdg-button-flat color="primary" (click)="handleClick()"
    >Flat</sdg-button-flat
  >
</app-example-viewer>

<p>
  Angular Material offre la possibilité de contrôler la couleur via la propriété
  "color" tout en respectant le thème de l'application.
</p>
<app-example-viewer title="Couleurs" class="button-types">
  <sdg-button-flat color="primary" (click)="handleClick()"
    >Primaire</sdg-button-flat
  >
  <sdg-button-flat color="warn" (click)="handleClick()"
    >Avertissement</sdg-button-flat
  >
</app-example-viewer>

<p>Pour répliquer l'exemple du SDG:</p>
<app-example-viewer title="Types de boutons (SDG)" class="button-types">
  <sdg-button-flat color="primary" (click)="handleClick()"
    >Principal</sdg-button-flat
  >
  <sdg-button-stroked color="primary" (click)="handleClick()"
    >Secondaire</sdg-button-stroked
  >
  <sdg-button color="primary" (click)="handleClick()">Tertiaire</sdg-button>
  <sdg-button-flat color="warn" (click)="handleClick()"
    >Avertissement</sdg-button-flat
  >
</app-example-viewer>
