@use 'sass:map';
@use '@angular/material' as mat;

@use '../../../typography';

@mixin theme($theme) {
  @include color($theme);
  @include density($theme);
  @include typography($theme);
}

@mixin color($theme) {
  $primary: map.get($theme, primary);

  .mat-mdc-outlined-button {
    border-color: currentColor !important;
  }
}

@mixin density($theme) {
  .mdc-button {
    @include mat.button-overrides(
      (
        filled-container-height: 56px,
        outlined-container-height: 56px,
        protected-container-height: 56px,
        text-container-height: 56px
      )
    );
    min-width: calc(56px * 2) !important;
  }

  .mat-mdc-outlined-button {
    border-width: 2px !important;

    &[compact] {
      border-width: 1px !important;
    }
  }

  .mdc-button[compact] {
    $theme: map.merge(
      $theme,
      (
        density: 0
      )
    );
    @include mat.button-density($theme);
  }

  .mdc-icon-button[compact] {
    // Workaround the @include doesn't work for the icon button, the style is overriden
    // $theme: map.merge($theme, (density: -2));
    // @include mat.icon-button-density($theme);
    --mdc-icon-button-state-layer-size: 40px;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 8px;
  }
}

@mixin typography($theme) {
  .mdc-button {
    $font-size: mat.m2-font-size(typography.$typography, body-1);

    @include mat.button-overrides(
      (
        filled-label-text-size: $font-size,
        filled-label-text-weight: bold,
        outlined-label-text-size: $font-size,
        outlined-label-text-weight: bold,
        protected-label-text-size: $font-size,
        protected-label-text-weight: bold,
        text-label-text-size: $font-size,
        text-label-text-weight: bold
      )
    );

    line-height: mat.m2-line-height(typography.$typography, body-1) !important;
  }
}
