@use 'sass:map';
@use '@angular/material' as mat;

@use '../../../typography';

@mixin theme($theme) {
  @include color($theme);
  @include density($theme);
  @include typography($theme);
}

@mixin color($theme) {
  $primary: map.get($theme, primary);

  .mat-mdc-outlined-button {
    border-color: currentColor !important;
  }
}

@mixin density($theme) {
  .mdc-button {
    --mdc-text-button-container-height: 56px;
    --mdc-outlined-button-container-height: 56px;
    --mdc-protected-button-container-height: 56px;
    --mdc-filled-button-container-height: 56px;
    min-width: calc(56px * 2) !important;
  }

  .mat-mdc-outlined-button {
    border-width: 2px !important;

    &[compact] {
      border-width: 1px !important;
    }
  }

  .mdc-button[compact] {
    $theme: map.merge(
      $theme,
      (
        density: 0
      )
    );
    @include mat.button-density($theme);
  }

  .mdc-icon-button[compact] {
    // Workaround the @include doesn't work for the icon button, the style is overriden
    // $theme: map.merge($theme, (density: -2));
    // @include mat.icon-button-density($theme);
    --mdc-icon-button-state-layer-size: 40px;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 8px;
  }
}

@mixin typography($theme) {
  .mdc-button {
    --mdc-text-button-label-text-weight: bold;
    --mdc-outlined-button-label-text-weight: bold;
    --mdc-protected-button-label-text-weight: bold;
    --mdc-filled-button-label-text-weight: bold;

    $font-size: mat.m2-font-size(typography.$typo-typography, body-1);

    --mdc-filled-button-label-text-size: $font-size;
    --mdc-text-button-label-text-size: $font-size;
    --mdc-outlined-button-label-text-size: $font-size;
    --mdc-protected-button-label-text-size: $font-size;

    line-height: mat.m2-line-height(
      typography.$typo-typography,
      body-1
    ) !important;
  }
}
