@use '@angular/material' as mat;

@mixin overrides() {
  @include color-variants-backwards-compatibility();
}

// Material custom color variants backwards compatibility
@mixin color-variants-backwards-compatibility() {
  .mat-icon {
    &.mat-accent {
      @include mat.icon-overrides(
        (
          color: var(--sdg-color-pink-normal)
        )
      );
    }

    &.mat-primary {
      @include mat.icon-overrides(
        (
          color: var(--sdg-color-blue-piv)
        )
      );
    }

    &.mat-warn {
      @include mat.icon-overrides(
        (
          color: var(--sdg-color-red-normal)
        )
      );
    }
  }
}
