@use '@angular/material' as mat;
@use '@igo2/sdg-core' as sdg;

:host {
  display: block;

  &.--general {
    background-color: sdg.$blue-pale;
  }
  &.--warning {
    background-color: sdg.$yellow-pale;
  }
}

.sdg-alert {
  &-container {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    column-gap: 24px;

    @include sdg.media(mobile) {
      padding: 16px;
      align-items: start;
    }
  }

  &-icon {
    flex-shrink: 0;

    &.--general {
      @include mat.icon-overrides(
        (
          color: sdg.$blue-piv
        )
      );
    }

    &.--warning {
      @include mat.icon-overrides(
        (
          color: sdg.$yellow-dark
        )
      );
    }
  }

  &-message {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;

    @include sdg.media(mobile) {
      font-family: sdg.$font-family-text;
      font-size: 14px;
    }
  }

  &-button {
    @include mat.icon-button-overrides(
      (
        icon-size: 24px,
        state-layer-size: 24px
      )
    );

    &.mat-mdc-icon-button.mat-mdc-button-base {
      padding: 0;
    }
  }
}
