@use '@angular/material' as mat;
@use '../style/overrides';
@use './palettes';
@use '../typography';

// https://design.quebec.ca/a-propos-systeme-design
$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette(palettes.$primary-palette, 600, 400, 700),
      accent: mat.m2-define-palette(palettes.$accent-palette, 500),
      warn: mat.m2-define-palette(palettes.$warn-palette, 500),
      success: mat.m2-define-palette(palettes.$primary-palette, 900)
    ),
    typography: typography.$typography,
    density: 0
  )
);

// Define an alternate dark theme.
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette(palettes.$primary-palette, 300, 100, 800),
      accent: mat.m2-define-palette(palettes.$accent-palette, 400, 100, 800),
      warn: mat.m2-define-palette(palettes.$warn-palette, 400, 200, 800)
    ),
    typography: typography.$typography,
    density: 0
  )
);

@mixin themes($theme) {
  @include overrides.override-igo2-lib-themes($theme);
  @include overrides.override-material-themes($theme);
}

@mixin colors($theme) {
  @include overrides.override-igo2-lib-colors($theme);
  @include overrides.override-material-colors($theme);
}

@mixin densities($theme) {
  @include overrides.override-igo2-lib-densities($theme);
  @include overrides.override-material-densities($theme);
}
