@use '@igo2/sdg-core' as sdg;

.sdg-anchor-menu-container {
  display: flex;
  flex-flow: column;
  row-gap: 16px;
  max-width: 825px;
  margin: 24px 0px;
  border-top: 1px solid sdg.$grey-light;
  border-bottom: 1px solid sdg.$grey-light;
  padding: 32px;
  background-color: #f7f7f7;
}

p {
  margin: 0px;
  font-weight: bold;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
