@use '@angular/material' as mat;

$base-padding: 12px;

:host {
  display: flex;
  flex-direction: column;
}

igo-map-browser {
  position: relative;
  display: block;

  ::ng-deep {
    .ol-overlaycontainer-stopevent {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }

    .ol-attribution {
      display: none;
      left: 50px;
      //   bottom: $igo-margin;
      text-align: left;
      padding: 0;
      margin-right: 90px;
      background-color: rgba(255, 255, 255, 0);
      width: calc(100% - 500px);

      &.ol-logo-only {
        height: inherit;
      }
      &.ol-collapsed {
        background: none;
        button {
          transform: none;
        }
      }
      button {
        transform: rotate(180deg);
        background-color: white;
        cursor: pointer;
      }
      &.ol-uncollapsible {
        height: auto;
      }
      ul {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 2px 0.5em;
      }
    }

    .map-actions {
      position: absolute;
      display: flex;
      transition:
        bottom 250ms,
        left 250ms;

      &.--vertical {
        flex-direction: column;

        > :not(:first-child) {
          margin-top: math.div($base-padding, 2);
        }
      }

      &.--horizontal {
        > :not(:first-child) {
          margin-right: math.div($base-padding, 2);
        }
      }

      &.--bottom {
        bottom: $base-padding;
      }

      &.--right {
        right: $base-padding;
        align-items: flex-end;
      }

      &.--top {
        top: $base-padding;
      }

      &.--horizontal.--bottom.--right {
        right: calc(40px + $base-padding * 2);
      }

      &.--left {
        left: $base-padding;
        align-items: flex-start;
      }
    }
  }
}

::ng-deep {
  igo-rotation-button,
  igo-zoom-button button,
  igo-offline-button,
  igo-home-extent-button,
  igo-baselayers-switcher,
  igo-geolocate-button {
    @include mat.elevation(2);
  }
}
