<p>
  <span
    >Le <b>lien externe</b> mène vers des contenus externes au site actuel. Pour
    plus d'information, voir les
  </span>
  <span
    ><sdg-external-link
      text="Liens"
      url="https://design.quebec.ca/design/bases/liens"
  /></span>
  <span>du Système de design gouvernemental.</span>
</p>

<app-example-viewer
  title="Lien externe"
  configFolder="external-link"
  codeFolder="external-link"
>
  <sdg-external-link text="Google" url="https://www.google.com" />
</app-example-viewer>
