@use '@igo2/sdg-core' as sdg;

:host {
  display: flex;
  flex-direction: column;
}

.sdg-lateral-menu {
  &-sections {
    display: flex;
    flex-direction: column;
  }

  &-route-title {
    font-size: 14px;
    font-weight: bold;
    padding: 16px 8px;
    margin: 0;
    border-bottom: 1px solid sdg.$grey-light;

    &-mobile {
      display: flex;
      align-items: center;
      border: none;
      background-color: sdg.$blue-pale;
      padding: 8px;
      cursor: pointer;
    }

    &-text-mobile {
      flex-grow: 1;
      font-family: sdg.$font-family-text;
      font-size: 16px;
      color: sdg.$blue-piv;
      margin: 0;
      text-align: left;
      font-weight: bold;
    }
  }
}
