@use '@angular/material' as mat;
@use '@igo2/sdg-core' as sdg;

:host {
  display: inline-block;

  &.sdg-scale-line-on-map {
    $background-color: var(--sdg-color-white);
    background: color-mix(in srgb, $background-color 56%, transparent);
    border-radius: 4px;
    padding: 4px;
    @include mat.elevation(3);
  }

  ::ng-deep {
    .ol-scale-line {
      position: relative;
    }

    .ol-scale-line-inner {
      border: 1px solid var(--sdg-color-grey-dark);
      border-top: none;
      color: var(--sdg-color-text);
      font-size: 10px;
      text-align: center;
      will-change: contents, width;
      transition: all 0.25s;
    }
  }
}
