@use '@angular/material' as mat;
@use '@igo2/sdg-core' as sdg;

$spacer-xs: var(--sdg-spacer-xs);

:host {
  display: inline-block;

  &.sdg-scale-line-on-map {
    background: color-mix(in srgb, var(--sdg-color-grey-pale) 67%, transparent);
    border-radius: $spacer-xs;
    padding: $spacer-xs;
    @include mat.elevation(3);
  }

  ::ng-deep {
    .ol-scale-line {
      position: relative;
    }

    .ol-scale-line-inner {
      border: 1px solid var(--sdg-color-grey-dark);
      border-top: none;
      color: var(--sdg-color-text);
      font-size: var(--sdg-font-size-xs);
      line-height: var(--sdg-line-height-xs);
      text-align: center;
      will-change: contents, width;
      transition: all 0.25s;
    }
  }
}
