@use '@angular/material' as mat;
@use '@igo2/sdg-core' as sdg;

:host {
  button {
    padding: 8px;

    @include mat.fab-overrides(
      (
        small-container-color: sdg.$white
      )
    );
  }
}

button {
  border-radius: 0 !important;
  .mat-ripple,
  .mdc-icon-button__ripple {
    border-radius: 0 !important;
  }
}
