<p>
  Deux types de breadcrumbs, celui qui utilise l'autogénération basé sur le
  Router d'Angular et le manuel ou on peut spécifier les breads via l'input.
</p>

<p>Pour utiliser l'autogénération, activer la propriété [withRouter]="true"</p>
<app-example-viewer
  title="Breadcrumbs with Angular Router"
  configFolder="breadcrumb"
  codeFolder="breadcrumb"
>
  <sdg-breadcrumbs [withRouter]="true"></sdg-breadcrumbs>
</app-example-viewer>

<p>
  Pour référencer manuellement les breadcrumbs, utiliser le input
  [breadcrumbs]="YOUR_BREADCRUMBS". L'overflow via les ... est ajouté lorsqu'on
  5 niveaux ou plus.
</p>
<app-example-viewer
  title="Breadcrumbs with Angular Router"
  configFolder="breadcrumb"
  codeFolder="breadcrumb"
>
  <sdg-breadcrumbs [breadcrumbs]="breadcrumbs"></sdg-breadcrumbs>
</app-example-viewer>
