@use '@igo2/sdg';

sdg-breadcrumbs-with-router {
  margin-top: 16px;
}

.split-screen {
  &-container {
    display: flex;
    column-gap: sdg.spacing(desktop);
    flex: 1;
    @include sdg.media(laptop) {
      column-gap: sdg.spacing(laptop);
    }

    @include sdg.media(tablet) {
      column-gap: sdg.spacing(tablet);
    }

    @include sdg.media(mobile) {
      flex-direction: column;
    }
  }
  &-lateral-menu {
    flex: 0 0 25%;
    margin-top: 72px;
  }
  &-content {
    flex: 1;
  }
}
