@use 'sass:map';

@use './ref/palettes';
@use './sys/color';
@use './sys/elevation';
@use './sys/layout';
@use './sys/typography';
@use './token-utils';

@mixin system-tokens() {
  @include _system-colors();
  @include _system-typographies();
  @include _system-layout();
  @include _system-level-elevation();
}

@mixin _system-level-elevation() {
  $elevations: elevation.values();
  @include token-utils.values($elevations);
}

@mixin _system-colors() {
  $palettes-values: palettes.palette-values();
  $colors: color.values();

  @include token-utils.values(map.merge($palettes-values, $colors));
}

@mixin _system-dark-colors() {
  @include token-utils.values(color.dark-values());
}

@mixin system-dark-colors() {
  @include _system-dark-colors();
}

@mixin _system-typographies() {
  $typo: typography.values();
  @include token-utils.values($typo);
}

@mixin _system-layout() {
  $values: layout.values();
  @include token-utils.values($values);
}
