@use '@igo2/sdg-core' as sdg;

.sdg-paginator {
  &-button,
  &-page,
  &-ellipsis {
    margin: 0;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 2px solid sdg.$blue-light;
    }

    &:hover {
      outline: none;
      background-color: sdg.$grey-pale;
    }

    &:active {
      outline: none;
      background-color: sdg.$blue-pale;
    }

    &.--active {
      outline: none;
      color: sdg.$blue-dark;
      font-weight: bold;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &-chevron {
    vertical-align: middle;
    font-variation-settings: 'wght' 400;
  }

  &-page {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: sdg.$blue-piv;
  }

  &-ellipsis {
    color: sdg.$blue-dark;
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }
}
