.block-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 64px 16px;

  & > * {
    flex-basis: calc(33.33% - 16px);

    &.--handset {
      flex-basis: 100%;
    }
  }
}
