@use '@igo2/sdg';

.block-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px sdg.spacing(desktop);

  @include sdg.media(laptop) {
    column-gap: sdg.spacing(laptop);
  }

  @include sdg.media(tablet) {
    column-gap: sdg.spacing(tablet);
  }

  &-container {
    padding: 48px 0;
    background-color: sdg.$blue-pale;
  }

  & > * {
    flex-basis: calc(100% / 3 - sdg.spacing(desktop));

    @include sdg.media(laptop) {
      flex-basis: calc(100% / 3 - sdg.spacing(laptop));
    }

    @include sdg.media(tablet) {
      flex-basis: calc(100% / 2 - sdg.spacing(tablet));
    }

    @include sdg.media(mobile) {
      flex-basis: 100%;
    }
  }
}
