:host {
  display: block;

  width: 100%;
  height: 100%;

  ::ng-deep .full-screen-dialog-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1000 !important;
  }
}

.full-map-dialog-content {
  max-height: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

sdg-ol-full-map {
  display: block;
  width: 100%;
  height: 100%;
}

.template-content {
  padding: 0 var(--sdg-spacer-16) !important;
}
