<app-basic-screen
  title="Composants Angular basés sur le Système de design gouvernemental du Québec"
  [showCharterBanner]="true"
>
  <div class="accroche">
    Composants internationalisés et accessibles à tous fondés sur les normes du
    système de design gouvernemental du Québec (SDG).
  </div>
  <p>
    Le
    <sdg-external-link
      url="https://design.quebec.ca/a-propos"
      text="Système de design gouvernemental"
    ></sdg-external-link>

    définit les règles et composants pour concevoir des services numériques
    accessibles. Il s'adresse aux équipes qui les conçoivent et les développent.
  </p>
</app-basic-screen>
