<app-basic-screen
  title="Composants Angular basés sur le Système de design gouvernemental du Québec"
  [showCharterBanner]="true"
>
  <div class="accroche">
    Cette librairie a pour objectif de rendre disponible des composants qui
    facilitent l’implémentation des normes du Système de design gouvernemental
    (SDG) dans les applications web basées sur Angular.
  </div>
  <p>
    Le
    <sdg-external-link
      url="https://design.quebec.ca/a-propos"
      text="Système de design gouvernemental"
    ></sdg-external-link>

    définit les règles et composants pour concevoir des services numériques
    accessibles. Il s'adresse aux équipes qui les conçoivent et les développent.
  </p>
</app-basic-screen>
