<app-basic-screen
  title="Composants du Système de design gouvernemental du Québec pour Angular"
  [showCharterBanner]="true"
>
  <div class="accroche">
    Composants internationalisés et accessibles à tous fondé sur les normes du
    système de design gouvernemental du Québec (SDG).
  </div>
  <p>
    Le
    <a href="https://design.quebec.ca/a-propos"
      >Système de design gouvernemental</a
    >
    définit les règles et composants pour concevoir des services numériques
    accessibles. Il s’adresse aux équipes qui les conçoivent et les développent.
  </p>
</app-basic-screen>
