@use '@igo2/sdg-core' as sdg;
@use '../lateral-menu-animation' as animation;

$spacer-xs: var(--sdg-spacer-xs);
$spacer-md: var(--sdg-spacer-md);
$blue-pale: var(--sdg-color-blue-pale);

.sdg-lateral-menu-section {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid var(--sdg-color-grey-light);

  @include sdg.media(mobile) {
    border: none;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: $spacer-xs;
    padding: var(--sdg-spacer-sm) $spacer-xs;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include sdg.media(mobile) {
      padding: $spacer-xs $spacer-xs $spacer-xs $spacer-md;
    }

    &-title {
      font-size: var(--sdg-font-size-sm);
      line-height: var(--sdg-line-height-sm);
      color: var(--sdg-color-blue-piv);

      @include sdg.media(mobile) {
        font-size: var(--sdg-font-size-md);
      }

      &.--active-section {
        font-weight: bold;
      }
    }

    &:hover:not(.--active-section) {
      background-color: color-mix(in srgb, $blue-pale 50%, transparent);
    }

    &.--active-section {
      background-color: $blue-pale;
    }

    &:focus-visible {
      outline: solid 2px var(--sdg-color-blue-light);
      outline-offset: -2px;
    }
  }

  &-subsections {
    @include sdg.media(mobile) {
      background-color: $blue-pale;
      padding-left: $spacer-md;
    }

    &-content {
      padding: 0 0 0 $spacer-md;

      &.--opened {
        padding: $spacer-xs 0 $spacer-xs $spacer-md;
      }
    }
  }
}

@include animation.openClose(
  'sdg-lateral-menu-section-subsections',
  'sdg-lateral-menu-section-subsections-content',
  false
);
