@use '@igo2/sdg-core' as sdg;

$blue-pale: var(--sdg-color-blue-pale);

:host {
  display: block;
}

.sdg-search-results-item {
  cursor: pointer;

  &.--hovered,
  &:hover {
    background-color: $blue-pale;
  }

  &.--selected {
    background-color: $blue-pale;
  }
}
