<p>
  <span
    >Les <b>onglets</b> sont utilisés pour regrouper et présenter divers aspects
    d'un sujet. Ils permettent à l'utilisateur de consulter des contenus
    connexes tout en restant au même endroit dans la page. Pour plus
    d'information, voir les
  </span>
  <span>
    <sdg-external-link
      text="Onglets"
      url="https://design.quebec.ca/design/composants/onglets"
    />
  </span>
  <span>du Système de design gouvernemental.</span>
</p>

<app-example-viewer title="Onglets" configFolder="tabs">
  <mat-tab-group [mat-stretch-tabs]="false">
    <mat-tab label="Chat">
      <div class="tab-content">
        Le chat domestique (Felis catus ou Felis silvestris catus) est la forme
        domestique du chat sauvage Felis silvestris, une espèce de mammifères
        carnivores, de la famille des Félidés.
      </div>
    </mat-tab>
    <mat-tab label="Chien">
      <div class="tab-content">
        Le chien, plus précisément désigné sous le nom de chien domestique
        (Canis familiaris ou Canis lupus familiaris), est une espèce de
        mammifère de la famille des Canidés (Canidae). Il s'agit de la forme
        domestiquée du loup gris (Canis lupus), laquelle comprend également le
        dingo, retourné à l'état sauvage.
      </div>
    </mat-tab>
    <mat-tab label="Poisson rouge">
      <div class="tab-content">
        Le Poisson rouge ou Carassin doré (Carassius auratus) est une espèce de
        poissons d'eau douce appartenant à la famille des Cyprinidés.
      </div>
    </mat-tab>
  </mat-tab-group>
</app-example-viewer>

<p>
  Dans l'éventualité où il y a un grand nombre d'onglets, des flèches des
  navigation aparaissent afin de défiler les onglets.
</p>

<app-example-viewer title="Grand nombre d'onglets" configFolder="tabs">
  <mat-tab-group [mat-stretch-tabs]="false">
    <mat-tab label="Chat">
      <div class="tab-content">
        Le chat domestique (Felis catus ou Felis silvestris catus) est la forme
        domestique du chat sauvage Felis silvestris, une espèce de mammifères
        carnivores, de la famille des Félidés.
      </div>
    </mat-tab>
    <mat-tab label="Chien">
      <div class="tab-content">
        Le Chien, plus précisément désigné sous le nom de Chien domestique
        (Canis familiaris ou Canis lupus familiaris), est une espèce de
        mammifère de la famille des Canidés (Canidae). Il s'agit de la forme
        domestiquée du loup gris (Canis lupus), laquelle comprend également le
        dingo, retourné à l'état sauvage.
      </div>
    </mat-tab>
    <mat-tab label="Poisson rouge">
      <div class="tab-content">
        Le Poisson rouge ou Carassin doré (Carassius auratus) est une espèce de
        poissons d'eau douce appartenant à la famille des Cyprinidés.
      </div>
    </mat-tab>
    <mat-tab label="Lapin">
      <div class="tab-content">
        Le lapin domestique (Oryctolagus cuniculus domesticus), est un lapin
        européen, qui a été domestiqué pour l'alimentation humaine en Europe
        occidentale, au Moyen Âge, une époque relativement récente comparée à
        d'autres animaux domestiques.
      </div>
    </mat-tab>
    <mat-tab label="Hamster">
      <div class="tab-content">
        Les hamsters (Cricetinae) sont de petits rongeurs de la famille des
        Cricetidae qui forment la sous-famille des Cricetinae. Il en existe
        plusieurs espèces, réparties dans différents genres.
      </div>
    </mat-tab>
    <mat-tab label="Souris grise">
      <div class="tab-content">
        La Souris grise (Mus musculus ou, avec le sous-genre, Mus (Mus)
        musculus) est une espèce parmi les petits rongeurs de la famille des
        muridés.
      </div>
    </mat-tab>
    <mat-tab label="Cochon d'Inde">
      <div class="tab-content">
        Le cochon d'Inde (Cavia porcellus) ou Cobaye, également nommé Cuy pour
        sa forme lourde, est un rongeur grégaire de taille moyenne, appartenant
        à la famille des Caviidae et originaire d'Amérique du Sud.
      </div>
    </mat-tab>
    <mat-tab label="Perruche ondulée">
      <div class="tab-content">
        La Perruche ondulée (Melopsittacus undulatus) est une espèce d'oiseaux
        australiens de la famille des Psittaculidae (communément appelés
        Perruches et Perroquets typiques). Il s'agit de la seule espèce du genre
        Melopsittacus et de la tribu des Melopsittacini.
      </div>
    </mat-tab>
  </mat-tab-group>
</app-example-viewer>
