@use '@igo2/sdg-core' as sdg;

:host {
  display: flex;
  flex-flow: column;
  min-height: 88px;
}

.sdg-sequential-links {
  &-arrow {
    color: sdg.$blue-dark;
    font-variation-settings: 'wght' 350;
  }

  &-link {
    display: flex;
    padding: 16px 16px 16px 8px;
    column-gap: 8px;
    border-right: none;
    border-left: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: sdg.$grey-pale;

      .sdg-sequential-links-text {
        text-decoration: underline;
      }
    }

    &:focus {
      outline: solid 2px sdg.$blue-light;
      outline-offset: 0;
    }

    &:first-of-type {
      border-top: 1px solid sdg.$grey-light;
      border-bottom: none;
    }

    &:last-of-type {
      border-top: 1px solid sdg.$grey-light;
      border-bottom: 1px solid sdg.$grey-light;
    }
  }

  &-content {
    display: flex;
    flex-flow: column;
    row-gap: 8px;
  }

  &-title,
  &-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    align-self: flex-start;
  }

  &-title {
    font-weight: bold;
    color: sdg.$blue-dark;
  }

  &-text {
    color: sdg.$blue-piv;
  }
}
