@use '@igo2/sdg-core' as sdg;

.block-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px sdg.spacing(desktop);

  & > * {
    flex-basis: calc(100% / 2 - sdg.spacing(desktop));

    @include sdg.media(mobile) {
      flex-basis: 100%;
    }
  }
}
