@use '@igo2/sdg';

.block-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px sdg.spacing(desktop);

  & > * {
    flex-basis: calc(100% / 2 - sdg.spacing(desktop));
  }
}

@media only screen and (max-width: sdg.max-width(mobile)) {
  .block-links > * {
    flex-basis: 100%;
  }
}
