.block-links {
  display: flex;
  row-gap: 32px;

  &:not(.--handset) {
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      flex-basis: calc(50% - 16px);
      margin: 0px 8px;
    }
  }

  &.--handset {
    flex-direction: column;
  }
}
