<p>
  <span
    >L'<b>étiquette</b> est un élément interactif permettant d'indiquer une
    sélection ou de mettre en évidence un lien. Le composant
    <b>Les plus consultés</b> est un ensemble d'étiquettes cliquables regroupées
    sous un titre. Il permet de rediriger l'utilisateur vers d'autres pages
    pertinentes en lien avec le contenu de la page actuelle. Pour plus
    d'information, voir les </span
  ><span
    ><sdg-external-link
      text="Étiquettes"
      url="https://design.quebec.ca/design/composants/navigation/etiquettes"
  /></span>
  <span
    >et
    <span
      ><sdg-external-link
        text="Les plus consultés"
        url="https://design.quebec.ca/design/composants/navigation/les-plus-consultes" /></span
    >du Système de design gouvernemental.</span
  >
</p>

<p>
  Dans un contexte de recherche ou de filtrage, l'étiquette permet d'illustrer
  les options sélectionnées par l'utilisateur. Elle est accompagnée d'une icône
  de suppression (« X ») qui permet de retirer facilement un critère appliqué.
  L'étiquette doit être suffisamment visible pour indiquer clairement qu'un
  filtre est en cours.
</p>

<app-example-viewer
  title="Étiquettes liées à un sélecteur"
  configFolder="chips"
>
  <form>
    <mat-chip-grid #chipGrid>
      @for (selectedColor of selectedColors(); track selectedColor) {
        <mat-chip-row
          [disabled]="selectorChipsDisabled()"
          disableRipple
          (removed)="remove(selectedColor)"
        >
          {{ selectedColor }}
          <button matChipRemove matTooltip="Retirer la sélection">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <mat-form-field>
      <mat-label>Couleurs</mat-label>
      <input
        matInput
        name="currentColor"
        placeholder="Sélectionner une couleur"
        #colorInput
        [(ngModel)]="currentColor"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event); colorInput.value = ''"
      >
        @for (color of filteredColors(); track color) {
          <mat-option [value]="color">{{ color }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button
    compact
    mat-stroked-button
    (click)="selectorChipsDisabled.set(!selectorChipsDisabled())"
  >
    {{ selectorChipsDisabled() ? 'Activer' : 'Désactiver' }}
  </button>
</app-example-viewer>

<p>
  L'étiquette peut également servir de lien vers une page de contenu. Dans ce
  cas, elle agit comme un raccourci de navigation, sans icône de suppression.
</p>

<app-example-viewer title="Étiquettes de navigation" configFolder="chips">
  <mat-chip-listbox>
    <mat-chip
      routerLink="../../../../a-propos"
      [disabled]="navigationChipsDisabled()"
      disableRipple
      >À propos</mat-chip
    >
    <mat-chip
      routerLink="../../../../composants"
      role=""
      [disabled]="navigationChipsDisabled()"
      disableRipple
      >Composants</mat-chip
    >
    <mat-chip
      routerLink="../../../../guides"
      [disabled]="navigationChipsDisabled()"
      disableRipple
      >Guides</mat-chip
    >
  </mat-chip-listbox>
  <button
    compact
    mat-stroked-button
    (click)="navigationChipsDisabled.set(!navigationChipsDisabled())"
  >
    {{ navigationChipsDisabled() ? 'Activer' : 'Désactiver' }}
  </button>
</app-example-viewer>
