form {
  display: flex;
  flex-flow: column;
  row-gap: 16px;
}

app-example-viewer {
  ::ng-deep mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

button {
  width: fit-content;
}
