<p>
  <span
    >L'<b>alerte</b> sert aux avertissements et messages de haute importance.
    Elle apparaît par défaut dans toutes les pages, directement sous le PIV et
    la navigation principale, et occupe la largeur de l'écran pour être très
    visible. Pour plus d'information, voir l'</span
  >
  <span
    ><sdg-external-link
      text="Alerte générale"
      url="https://design.quebec.ca/design/composants/alerte-generale"
  /></span>
  <span>du Système de design gouvernemental.</span>
</p>

<app-example-viewer title="Alerte" configFolder="alert" codeFolder="alert">
  <div class="alerts">
    <sdg-alert
      type="General"
      message="Ceci est une alerte informative"
      containerClass="container"
    />

    @if (generalAlertIsOpened) {
      <sdg-alert
        type="General"
        message="Ceci est une alerte informative pouvant être fermée"
        [closeable]="true"
        containerClass="container"
        (closed)="generalAlertIsOpened = false"
      />
    }

    <sdg-alert
      type="Warning"
      message="Ceci est une alerte"
      containerClass="container"
    />

    @if (alertIsOpened) {
      <sdg-alert
        type="Warning"
        message="Ceci est une alerte pouvant être fermée"
        [closeable]="true"
        containerClass="container"
        (closed)="alertIsOpened = false"
      />
    }
  </div>
</app-example-viewer>
