<p>
  <span
    >Le bouton <b>haut de page</b> permet de remonter rapidement vers le haut de
    la page. Pour plus d'information, voir le bouton
  </span>
  <span
    ><app-external-link
      title="Haut de page"
      link="https://design.quebec.ca/design/composants/haut-page"
  /></span>
  <span>du Système de design gouvernemental.</span>
</p>

<app-example-viewer
  title="Haut de page"
  configFolder="top-page-button"
  codeFolder="top-page-button"
>
  <sdg-top-page-button tooltip="Retour en haut" />
</app-example-viewer>
