@use '@igo2/sdg-core' as sdg;

.tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  row-gap: var(--sdg-grid-spacing-max);

  @include sdg.media(tablet) {
    row-gap: var(--sdg-grid-spacing-max);
  }

  sdg-tile {
    flex-grow: 1;
  }
}
