.form-field {
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: var(--sdg-grid-spacing-max);

    &-multiple {
      display: flex;
      flex-wrap: wrap;
      gap: var(--sdg-grid-spacing-max);
    }
  }
}
