<p>
  <span
    >L'<b>accordéon</b> permet de réduire temporairement la quantité
    d'information affichée sur une page. Avec cette option, la personne survole
    le contenu et accède plus rapidement à l'information recherchée. Pour plus
    d'information, voir l'</span
  >
  <span
    ><sdg-external-link
      text="Accordéon"
      url="https://design.quebec.ca/design/composants/accordeon"
  /></span>
  <span>du Système de design gouvernemental.</span>
</p>

<app-example-viewer title="Accordéon" configFolder="expansion-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Accordéon</mat-panel-title>
      <mat-panel-description>
        Description de l'accordéon
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
  </mat-expansion-panel>
</app-example-viewer>
