@use '@igo2/sdg-core' as sdg;

::ng-deep {
  :root {
    --bottom-sheet-animation-duration: 0.3s;
  }
}

.full-map-bottom-sheet {
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow-y: hidden;
    z-index: 1;
  }

  &-toggle-button {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background: var(
      --mat-sidenav-container-background-color,
      var(--mat-sys-surface)
    );
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.12);
    width: 60px;
    height: 24px;
    border: none;
    pointer-events: auto;
    touch-action: none;
    z-index: 1;

    mat-icon {
      font-size: 32px;
      width: 32px;
      height: 32px;
    }
  }

  &-header {
    background-color: var(
      --mat-sidenav-container-background-color,
      var(--mat-sys-surface)
    );
    padding: 32px 16px;
    pointer-events: auto;
    touch-action: none;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.12);
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(
      --mat-sidenav-container-background-color,
      var(--mat-sys-surface)
    );
    transition: height var(--bottom-sheet-animation-duration) ease;
    pointer-events: auto;
  }

  &-content {
    width: 100%;
    overflow-y: auto;
  }

  &-attribution {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 8px;
    padding: 12px 0;
  }
}

footer {
  sdg-full-map-skeleton-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 8px;
    padding: 12px;
  }
}
