$search-bar-horizontal-spacing: var(--sdg-spacer-16);
$panel-width: 390px;

:host {
  --sdg-full-map-search-bar-vertical-spacing: var(--sdg-spacer-32);
  --sdg-full-map-panel-width: #{$panel-width};
}

.full-map-skeleton {
  &-container {
    position: relative;
    height: 100%;
  }

  &-desktop {
    width: 100%;
    height: 100%;

    .full-map-skeleton-search-bar {
      position: absolute;
      width: calc($panel-width - $search-bar-horizontal-spacing * 2);
      top: calc($search-bar-horizontal-spacing * 2);
      left: $search-bar-horizontal-spacing;

      &.--elevated {
        box-shadow: var(--sdg-elevation-1);
      }
    }
  }

  &-search-bar {
    z-index: 2;
  }
}
