@use '@angular/material' as mat;
@use '@igo2/sdg-core' as sdg;

$search-bar-spacing-left: 16px;

:host {
  --sdg-map-footer-height: 36px;
  --sdg-map-bottom-sheet-header-height: 104px;
  --sdg-sidepanel-width: 380px;
}

.full-map-skeleton {
  &-container {
    position: relative;
    height: 100%;
  }

  &-desktop {
    width: 100%;
    height: 100%;

    .full-map-skeleton-search-bar {
      position: absolute;
      width: calc(var(--sdg-sidepanel-width) - $search-bar-spacing-left * 2);
      top: calc($search-bar-spacing-left * 2);
      left: $search-bar-spacing-left;

      &.--elevated {
        box-shadow:
          0 2px 4px rgba(0, 0, 0, 0.2),
          0 -1px 0px rgba(0, 0, 0, 0.02);
      }
    }
  }

  &-search-bar {
    z-index: 2;
  }
}
