$footer-height: 29px;

:host {
  display: flex;
  align-items: center;
  height: 29px;
  background: #ffffffa3;
  font-size: 0.7rem;
  padding: 0 8px 0 4px;

  ::ng-deep .ol-scale-line-inner {
    border: 1px solid black;
    color: black;
    border-top: none;
  }

  ::ng-deep .ol-scale-line {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

.order2 {
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin-left: 140px;
  text-align: right !important;
  width: 100%;
}

span {
  color: #095797;
  align-self: center;
  margin-left: 0.5rem;
  a {
    color: #095797;
    text-decoration: none;
  }
}
